NEXT_PUBLIC_SUPABASE_URL=https://fkntcnyvxnnolapracdr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZrbnRjbnl2eG5ub2xhcHJhY2RyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcwNzM4OTAsImV4cCI6MjA5MjY0OTg5MH0.hDxdZLN5so_Sh0lZ8xRlWast-sdsvPo9eJOHVJ9U3vo
